*.pyc
*.geo_unrolled
*.vtu
*.msh
*.pvd
*.pvsm
*.json
*.DBG
*.PRT
*.SMSPEC
*.UNRST
*.UNSMRY
*.eps
src/tpysa.egg-info/*
*.EGRID
*.INIT
*.npz
examples/**/*.DATA
*.INC
*.GRDECL
animations/*
snippets/*
examples/05_troll_5/*
examples/06_troll_open/*
examples/07_troll_full/*
*.INFO
